html {
    width: 100%;
}

body {
    font-family: system-ui;
    width: 100%;
    overflow-y: scroll;
}

body .modal-open {
    overflow: scroll;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.card {
    transition: all 0.3s;
}

.quiz-cards:hover {
    transform: scale(1.05);
    background: #343a40;
}